*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
}

header{
    background-color: gray;
    border-bottom: 3px solid white;
}

header::after{
    content: '';
    display: block;
    clear: both;
}

h1{
    float: left;
    padding: 10px;
    color: white;
}
header ul{
    float: right;
}

header ul li{
    display: inline-block;
}

header ul li a{
    display: block;
    padding: 20px;
}

header ul li a:hover{
   background-color: white;
   color: gray;
}

.container{
    width: 80%;
    margin: auto;
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
}

.banner{
    height: 700px;
    background-size: cover;
    background-image: url(../img/banner.jpg);
    justify-content: center;
    align-items: center;
    display: flex;
}

section h2{
    color: white;
    border: 3px solid;
    padding: 15px;
}

section h3{
    text-align: center;
    padding-top: 75px;
}

p{
    text-align: center;
    margin: 10px;
    line-height: 25px;
}

footer{
    padding: 25px;
    background-color: gray;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.aktif{
    background-color: white;
    color: gray;
}

img{
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}

h4{
    margin: 15px 0px;
}

.berita img{
    border-radius: 0px;
}

.berita p{
    text-indent: 50px;
    text-align: justify;
}

.navbar{
    position: fixed;
    width: 100%;
}

.tentang h3{
    padding-top: 0px;
}

@media(max-width:768px) {
    h1{
        font-size: 28px;
    }
    .banner{
        background-position: center;
    }
}
@media(max-width:400px) {
    h1{
        margin-left: 18px;
        font-size: 25px;
    }
    .banner{
        background-position: center;
    }
    header ul{
        margin-right: 12px;
    }
    p{
        font-size: 13px;
        line-height: 15px;
    }
    section h3{
        padding-top: 150px;
        font-size: 17px;
    }
    img{
        width: 300px;
    }
    h4{
        font-size: 15px;
    }
}